<?xml version="1.0"?>
<ruleset name="Sitewell Static Frontend">
    <description>WordPress coding standards for the Sitewell Static Frontend plugin.</description>

    <file>sitewell-static-frontend.php</file>
	<file>uninstall.php</file>
    <file>src</file>
    <file>templates</file>

    <exclude-pattern>vendor/*</exclude-pattern>
    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="WordPress-Core">
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="WordPress.NamingConventions.ValidFunctionName"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName"/>
        <exclude name="WordPress.PHP.YodaConditions"/>
    </rule>
    <rule ref="WordPress-Extra">
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="WordPress.NamingConventions.ValidFunctionName"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName"/>
        <exclude name="WordPress.PHP.YodaConditions"/>
    </rule>
    <rule ref="PHPCompatibilityWP"/>

    <config name="minimum_supported_wp_version" value="6.6"/>
    <config name="testVersion" value="8.2-"/>
</ruleset>
